/* Reset to avoid rendering issues in different browsers.*/
* {
	box-sizing:border-box;
	position:relative;
	margin:0;
	padding:0;
}

/*Removed link decoration to make links appear as text
in nav bar*/
a{
	text-decoration: none;
	color:lightgrey;
}

/*Added hover pseudoclass to links to make them cool.*/
a:hover {
	color:darkgrey;
}

form{
	font-size:16px;
	color:black;
	font-family:sans-serif;
	line-height: 1.5;
	margin-top:10px;
}

/*Established image positioning and modified margins and
top to center within about container.*/
img {
	position: relative;
	float: left;
	top:5%;
	margin:0 25px 40px 0;
}

/*Added shadow to icon links to make them 1337.*/
.icons img:hover{
	box-shadow: 10px 10px 5px #888888;;
}

.icons_portfo img:hover{
	box-shadow: 10px 10px 5px #888888;;
}

/*Established default color and font-family for body.*/
body{
	font-family: Arial, Helvetica, sans-serif;
	background:lightgrey;
}

/*Floated elements to the right.*/
nav,
.contact{
	float:right;
}

/*Added padding and margins to elements
with similar design and changed font family
to pretty serif font for ooohs and ahhhs.*/
.about,
.Portfolio,
.contact {
	padding:20px 30px;
	margin:50px;
	background:white;
	color:#4aaaa5;
	font-weight:bolder;
	font-family:serif;
}

/*Floated about container to the left to make room
for the contact container and set dimensions for it.*/
.about {
	float:left;
	left:10%;
	width:500px;
	height:500px;
	font-size:36px;
}

.Portfolio{
	height:auto;
	float:left;
	left:0.5%;
	width:800px;
	font-size:36px;
	margin-right:0px;
}

.Portfolio_Images{
	position:relative;
	text-align:center;
	padding-left:60px;
	padding-top:20px;
}

/*Pushed contact container from the right to center it
better on right side of page and established parameters
for how elements within it will render.*/
.contact {	
	right:10%;
	width:300px;
	height:200px;
	text-align:center;
	font-size:24px;
	line-height: 2.5;
}

.contact_portfo{
	right:2%;
	margin-left:0;
}

/*Set position for javi container and established other
attributes to get the right color and 'look'.*/
.javi{
	position:relative;
	background:#4aaaa5;
	height:100px;
	width:200px;
	padding-top:40px;
	text-align:center;
	font-weight:bolder;
	left:10%;
	color:white;
	font-size:24px;
}

/*Set header dimensions to fit javi and nav elements.*/
header{
	background:white;
	height:100px;
}

/*Established position of nav bar and pushed it with right
and top attributes to better position on page.*/
nav{
	position:relative;
	right:10%;
	top:40px;
	word-spacing:10px;
	font-weight:bold;
}


/*Established footer attributes such as text-align and color
to establish how elements within it will render.*/
footer{
	text-align:center;
	height:100px;
	background-color:darkgrey;
	padding-top:40px;
	font-size:12px;
	letter-spacing: 5px;
}

/*Made line thicker to make it prettier.*/
hr{
	border:lightgrey solid 1px;
}

/*Gave me elemet line height to give spacing between 
'About Me' and hr below it separating it from img.*/
#me{
	line-height: 2.5;
}

/*Gave different color to hr separating body and header.*/
#top{
	border:grey solid 1px;
}

/*Gave different color to hr separating footer and body.*/
#hr{
	border:#4aaaa5 solid 5px;
}

/*Gave different font color and sizing to text within
About Me.*/
#description{
	color:grey;
	font-size:16px;
	margin-top:20px;
}

/*Positioned contact elements in container.*/
.icons{
	position:relative;
	top:10%;
	left:8%;
}

.icons_portfo{
	left:8%;
	top:10px;
}

/*Clearfix class applied to elements meant to be in own
row.*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@media screen and (max-width: 1230px) {
  .contact_portfo {
    width:150px;
    height:500px;
    right:10%;
  }

  .icons_portfo{
  	padding-left:15px;
  }
}

@media screen and (max-width: 1175px) {
	.portfo{
		height:200px;
		width:200px;
	}

	.Portfolio{
		width:600px;
		left:8%;
	}
}

@media screen and (max-width: 1035px) {
	.Portfolio{
		left:2%;
	}

	.contact_portfo{
		margin-right:0px;
	}
}

/*@media set to resize and reposition elements as dimensions
of screen change.*/
@media screen and (min-width:900px) and (max-width: 1100px) {
  .about{
	width:400px;
	height:550px;
	left:10%;
  }

  .contact {
    width:150px;
    height:500px;
    right:10%;
  }

  .icons{
	left:25%;
  }

  input{
  	width:350px;
  }

  textarea{
  	width:350px;
  }

}

@media screen and (min-width:768px) and (max-width: 900px) {
  .about{
	width:400px;
	height:550px;
	left:9%;
  }

  .Portfolio{
	width:400px;
	height:auto;
	left:9%;
  }

  .contact {
    width:150px;
    height:500px;
    right:9%;
  }

  .icons{
	left:25%;
  }

  .Portfolio_Images{
	left:-12%;
  }

  .portfo{
  	height:300px;
  	width:300px;
  }

  input{
  	width:350px;
  }

  textarea{
  	width:350px;
  }

}


/*Portfolio and contact go full width.*/
@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }

  .about,
  .Portfolio,
  .contact {
    float:none;
    margin:10px auto;
    width:100%;
    right:0%;
    left:0%;
  }

  .contact{
  	height:200px;
  }

  .Portfolio{
  	z-index:-2;
  	height:1900px;
  	padding-right:0;
  }

/*Remember to use overflow:auto for img(s)!*/
  .Portfolio_Images{
  	position:relative;
	margin-top:1%;
	right:0%;
	overflow:auto;
	padding-left:25%;
  }

  #hr_connect{
  	margin-bottom:10px;
  }

  .icons{
  	display:inline-block;
  	left:2.2%;
  }

  .icons_portfo{
  	display:inline-block;
  	left:1%;
  }

  .portfo{
  	height:300px;
  	width:300px;
  }

  form{
  	padding-left:100px;
  }

  textarea{
  	margin-left:100px;
  }

}


@media screen and (max-width: 640px) {
	header{
		height:130px;
	}

	.about{
		height:auto;
	}

	#AboutImg {
		margin-top:20px;
	}

	.Portfolio{
		width:100%;
		margin-right:0;
		padding-right:0;
	}

	.Portfolio_Images{
		padding-left:20%;
	}

	nav{
		width:100%;
		text-align:center;
		top:75%;
		font-size:24px;
		line-height:1.25;
		left:0;
		padding-left:20px;
	}

	.javi{
		float:none;
		width:100%;
		left:0%;
	}

	form{
	  	padding-left:50px;
	}

	textarea{
	  	margin-left:50px;
	}
}

@media screen and (max-width: 500px) {
	.Portfolio_Images{
		padding-left:10%;
	}

	form{
	  	padding-left:15px;
	}

	textarea{
	  	margin-left:15px;
	}
}

@media screen and (max-width:450px) {
	form{
	  	padding-left:60px;
	}

	input{
		width:200px;
	}

	textarea{
	  	margin-left:60px;
	  	width:200px;
	  	height:200px;
	}
}

/*Gave unique id to img in About section to avoid
resizing other image elements such as the icons.*/
@media screen and (max-width: 400px) {
	#AboutImg{
		height:150px;
		width:150px;
	}

	nav{
		font-size:16px;
		line-height: 2.2;
	}

	header{
		height:120px;
	}

	.Portfolio_Images{
		padding-left:15%;
	}

	.Portfolio{
		height:1400px;
	}

	.portfo{
		height:200px;
		width:200px;
	}

	#description{
		font-size:12px;
	}

	form{
	  	padding-left:30px;
	}

	textarea{
	  	margin-left:30px;
	}
}

@media screen and (max-width: 330px) {
	#AboutImg{
		height:100px;
		width:100px;
	}

	.Portfolio_Images{
		padding-left:10%;
	}

	.icons_portfo img{
		height:35px;
		width:35px;
	}

	.icons img{
		height:35px;
		width:35px;
	}

	.icons{
		left:5%;
	}


	.icons_portfo{
		left:15%;
	}

	form{
	  	padding-left:10px;
	}

	textarea{
	  	margin-left:10px;
	}
}